//colors
$color-1: #214a8c;
$color-2: #eff3f8;
$color-3: #ffffff;
$color-4: #f5ae18;
$color-5: #1691db;
$color-6: #3f99ba33;
$color-7: #ffe624;
$color-8: #1cbbb4;

// fonts
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-50: 50px;

// font-weight
$font-400: 400;
$font-500: 500;
$font-700: 700;
